@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.nav-item {
    position: relative;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item.active::after {
    transform: scaleX(1);
}


.red-custom {
    background-color: #d4d4d4;
    color: rgb(0, 0, 0);
}

.product-item {
    width: 400px;
}

.table th,
.table td {
    border-right: none;
    /* Hapus garis vertikal */
}

.table thead {
    border-bottom: none;
    /* Hapus garis bawah */
}

.inner-line {
    position: absolute;
    left: 231px;
    top: 29%;
    width: 81%;
    height: 1px;
    background-color: rgba(127, 127, 127, 0.315);
    content: '';
}

.inner-bottom {
    position: absolute;
    left: 231px;
    top: 35%;
    width: 81%;
    height: 1px;
    background-color: rgba(127, 127, 127, 0.315);
    content: '';
}

.count {
    color: #aeacacbc;
}


body {
    background-color: #f7f7f771;
}

.header-breadcrumbs {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f17d7d;
}

.iconsort {
    width: 20px;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/*
.col {
    margin-right: 10px;

}

.box2 {
    width: 80px;
    margin-top: 5px;
    height: 40px;
    margin-left: 180px;
    padding: 10px 0px 10px 0px;
    border-radius: 8px;

    background-color: #d1d1d1dd;
}

.box3 {


    padding-right: 10px;
} */

.search {
    --padding: 14px;
    width: 340px;
    height: 50px;
    margin-left: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: var(--padding);
    border-radius: 13px;
    background: #f6f6f6;
    transition: background 0.25s;

}

/* .box1,
.box2,
.box3 {

    margin-left: 20px;
} */

/* .box2 {
    margin-left: 60px;
} */

.search-input {
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    color: #333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    width: 200px;
}

.search:focus-within {
    background: #f6f6f6;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

/* .teks3 {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    display: inline;
    font-size: 14px;
}

.breadcrumbs ul li a {
    text-decoration: none;
    color: #5555554c;
    transition: color 0.3s;
}

.breadcrumbs ul li a:hover {
    color: #007bff;
}

.breadcrumbs ul li i {
    margin: 0 5px;
    color: #89898961;
}

.breadcrumbs ul li.active a {
    color: #000000b4;
    text-decoration: underline;
}

.box-main {
    position: relative;
    width: 100%;
    border-radius: 10px;
    height: 70px;
    padding: 10px;
    background-color: #dcdcdcc0
}

.teks {
    position: absolute;
    top: 20px;

}

.breadcrumbs ul li a {
    text-decoration: none;
    color: #9e9e9e8b;
    transition: color 0.3s;
    font-size: 18px;
    /* Change font size to 50px */
    font-family: "DM Sans", sans-serif;
    /* Change font family to Elegant Font */
}

.about {
    position: relative;
    width: 50px;
    height: 50px;

    background-color: #ffffffc2;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    display: flex;
}

.img-info {
    width: 40px;
}

/* .box-main {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                position: absolute;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                top: 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            } */

.breadcrumbs-profile {
    position: relative;
    width: 225px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffffc2;
}

.notify {

    justify-content: center;
    align-items: center;

}

.second-box {
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #dfdfdf9e;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex
}

.profile-users {
    position: relative;
    width: 110px;
    font-size: 10px;
    margin-right: 25px;
    border-radius: 5px;

    height: 40px;
    /* word-wrap: break-word; */


}

.email-teks {
    /* position: relative;
                                                                                                                                                                            padding-bottom: 50px; */
    transform: translateY(-38%);
    word-wrap: break-word;
}

.catalog {
    width: 18px;
    margin-left: 5px;



}

.container-custom {
    display: flex;
    align-items: center;
    padding: 25px 30px 25px 230px;
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f771;

}

.sidebar {
    position: fixed;
    width: 200px;
    top: 0px;
    left: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f7f7f771;
    padding: 24px;
    /* border-radius: 30px; */
    transition: all 0.3s;
}

.sidebar .head {
    display: flex;
    gap: 20px;

    padding-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
}

.user-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}



.box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.user-details .title,
.menu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.user-details .name {
    font-size: 14px;
    font-weight: 500;
}

.nav {
    flex: 1;
}



.menu ul li {
    position: relative;
    list-style: none;
    width: auto;
    margin-bottom: 5px;
}

.menu ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    text-decoration: none;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s;
}

.menu ul li>a:hover,
.menu ul li.active>a {
    color: #000;
    background-color: #f6f6f6;
}

.menu ul li .icon {
    font-size: 20px;
}

.menu ul li .text {
    flex: 1;
}

.menu ul li .arrow {
    font-size: 14px;
    transition: all 0.3s;
}

.menu ul li.active .arrow {
    transform: rotate(180deg);
}

.menu .sub-menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #f6f6f6;
}

.menu .sub-menu li a {
    padding: 10px 8px;
    font-size: 12px;
}

.menu:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #f6f6f6;
}

.menu-btn {
    position: absolute;
    right: -14px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #757575;
    border: 2px solid #f6f6f6;
    background-color: #e8e6e1d6;
}

.menu-btn:hover i {
    color: #000;
}

.menu-btn i {
    transition: all 0.3s;
}

.sidebar.active {
    width: 92px;
}

.sidebar.active .menu-btn i {
    transform: rotate(180deg);
}

.sidebar.active .user-details {
    display: none;
}

.menu ul li ul.sub-menu::before {
    content: url('{{ asset("global/landingpage/images/garis.png") }}');
    position: absolute;
    top: 0%;
    left: 0px;
    width: 220px;
    height: 620%;
    transform-origin: top left;
    transform: rotate(45deg);
}

.menu ul li ul.sub-menu::after {
    content: url('{{ asset("global/landingpage/images/garis.png") }}');
    position: absolute;
    top: 20%;
    left: 20px;
    width: 20px;
    height: 60%;
    transform-origin: top left;
    transform: rotate(-45deg);
}

.sidebar.active .menu .title {
    position: relative;
    left: 10px;
    /* background-color: #bababa; */
}

.sidebar.active .menu ul {
    position: relative;
    /* Mengatur posisi ul menjadi relatif */
    left: -25px;
    /* Mengatur posisi ul kembali ke posisi awal */
}


.sidebar.active .menu ul li {
    width: 100%;
    /* Mengatur lebar li menjadi 100% */
}

/* Style for the curved line */
/* Style for the curved line */
.line {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    /* Adjust the padding as needed */
    margin-top: 10px;
    /* Adjust the margin as needed */
    color: #000;
    /* Adjust the color as needed */
    text-decoration: none;
    /* Remove the default underline */
}

/* Style for the pseudo-element to create the curved line shape */
.line::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -90px;
    /* Adjust the position as needed */
    width: 30px;
    /* Adjust the width as needed */
    height: 20px;
    border-radius: 0px;
    /* Adjust the height as needed */
    border-top: 2px solid #000;
    /* Adjust the border as needed */
    border-left: 2px solid #000;
    /* Adjust the border as needed */
    transform: translateY(-120%) rotate(-90deg);
    border-radius: 4px;
    /* Rotate and position the pseudo-element to create the shape of "L" */
}

.linedua::before {
    content: '';
    position: absolute;
    top: 39%;
    left: -24px;
    /* Adjust the position as needed */
    width: 40px;
    /* Adjust the width as needed */
    height: 20px;
    border-radius: 0px;
    /* Adjust the height as needed */
    border-top: 2px solid #000;
    /* Adjust the border as needed */
    border-left: 2px solid #000;
    /* Adjust the border as needed */
    transform: translateY(-120%) rotate(-90deg);
    border-radius: 4px;
    /* Rotate and position the pseudo-element to create the shape of "L" */
}

.sidebar.active .menu ul li .title {
    text-align: left;
    /* Mengatur teks menu menjadi rata kiri */
}


.sidebar.active .menu ul li .arrow {
    display: none;
}

.sidebar.active .menu>ul>li>a .text {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.sidebar.active .menu>ul>li>a .text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #e7e7e7;
    transform: rotate(45deg);
    z-index: -1;
}

.sidebar.active .menu>ul>li>a:hover .text {
    left: 50px;
    opacity: 1;
    visibility: visible;
}


.sidebar.active .menu>ul>li>a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidebar.active .menu .sub-menu {
    position: absolute;
    top: 0;
    left: 20px;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid rgb(238, 238, 238);
    background-color: #fff;
    box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.credits {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 3rem;
}
